@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/*按钮样式*/
 
#goodcover {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1002;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity=80);
}
#code {
	width: 90%;
	height: 50%;
	text-align: center;
	position: absolute;
	display: none;
	z-index: 1002;
}
.close1 {
	 width: 100%;
	 height: 35%;
}
#closebt {
	float: right;
	right: 60px;
}
#closebt img {
	width: 100%;
}
.code-img {
	width: 100%;
	/*margin: 30px auto 0 auto;*/
	/*padding: 10px;*/
}
.code-img img {
	width: 100%;
}
