.swiper-container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0
}

#close {
	position: absolute;
	width: 120px;
	left: 50%;
	margin-left: -80px;
	bottom: 5%;
	padding: 10px;
	color: #fff;
	border: 1px solid #fff;
	background: #ff5a56;
	text-align: center;
	border-radius: 3px;
	z-index: 99
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background: black
}

.swiper-slide {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0
}

.swiper-slide .box {
	width: 100%;
	height: 100%;
	padding-top: 0%;
	text-align: center
}

.swiper-slide .box img {
	height: 100%;
	width: 100%
}

.one {
	background: #fee775
}

.two {
	background: #fab0b1
}

.three {
	background: #a5e8bd
}

.four {
	background: #92d6fb
}

@media screen and (min-width:720px) {
	.swiper-slide .box {
		padding-top: 10%
	}
}